.Api {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px; }
  .Api .APItitle {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b; }
  .Api .contain1 {
    overflow: hidden; }
    .Api .contain1 .con {
      float: left;
      width: 30%;
      min-width: 300px;
      margin-right: 5%; }
      .Api .contain1 .con .con1 {
        height: 190px;
        min-width: 300px;
        margin-bottom: 10px;
        position: relative;
        background: #fff; }
        .Api .contain1 .con .con1 .co {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          overflow: hidden;
          width: 250px; }
          .Api .contain1 .con .con1 .co .co1 {
            width: 81px;
            height: 81px;
            background: url("../img/API.png") no-repeat center;
            float: left; }
          .Api .contain1 .con .con1 .co .co2 {
            float: left;
            min-width: 100px;
            margin-left: 20px; }
            .Api .contain1 .con .con1 .co .co2 .c1 {
              height: 40px;
              font-size: 14px;
              color: #5b5b5b;
              margin-bottom: 15px; }
              .Api .contain1 .con .con1 .co .co2 .c1 span {
                font-size: 30px;
                color: #28a9bb; }
            .Api .contain1 .con .con1 .co .co2 .c2 {
              font-size: 14px;
              color: #464646; }
      .Api .contain1 .con .con2 .co .co1 {
        background: url("../img/API2.png") no-repeat center; }
      .Api .contain1 .con .con2 .co .co2 .c1 span {
        color: #f79769; }
    .Api .contain1 .tubiao {
      float: left;
      width: 65%;
      min-width: 600px;
      height: 390px;
      background: #fff;
      padding: 0 20px; }
      .Api .contain1 .tubiao .title {
        height: 40px;
        line-height: 40px;
        color: #464646;
        font-size: 18px; }
      .Api .contain1 .tubiao #echarts_zhe {
        width: 100%;
        height: 350px; }
  .Api .contain2 .title {
    height: 40px;
    line-height: 40px;
    color: #5b5b5b;
    font-size: 20px; }
  .Api .contain2 .contain {
    overflow: hidden; }
    .Api .contain2 .contain .con {
      width: 395px;
      height: 369px;
      background: #fff;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer; }
      .Api .contain2 .contain .con .shiyong {
        position: absolute;
        right: 0;
        top: 0;
        width: 70px;
        height: 70px;
        background: url("../img/shiyong.png") no-repeat center; }
      .Api .contain2 .contain .con .c1 {
        height: 50px;
        line-height: 50px;
        color: #464646;
        font-size: 18px;
        text-align: center; }
      .Api .contain2 .contain .con .c2, .Api .contain2 .contain .con .c3 {
        color: #999;
        font-size: 14px;
        text-align: center; }
      .Api .contain2 .contain .con .c4 .echarts_zhe1 {
        width: 100%;
        height: 280px; }
    .Api .contain2 .contain .con2 {
      width: 395px;
      height: 369px;
      background: #fff;
      float: left;
      position: relative; }
      .Api .contain2 .contain .con2 .a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        cursor: pointer; }
        .Api .contain2 .contain .con2 .a .a1 {
          width: 102px;
          height: 102px;
          background: url("../img/APIjia.png") no-repeat center; }
        .Api .contain2 .contain .con2 .a .a2 {
          width: 102px;
          height: 40px;
          line-height: 40px;
          color: #464646;
          font-size: 18px; }
  .Api .contain3 {
    overflow: hidden; }
    .Api .contain3 .title {
      height: 40px;
      line-height: 40px;
      color: #5b5b5b;
      font-size: 20px; }
    .Api .contain3 .zeromargin {
      margin-right: 0 !important; }
    .Api .contain3 .contain {
      width: 395px;
      height: 369px;
      position: relative;
      background: #fff;
      float: left;
      margin: 0px 20px 20px 0; }
      .Api .contain3 .contain .contain1 {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        .Api .contain3 .contain .contain1 .div1 {
          width: 106px;
          height: 106px;
          margin: 0 auto;
          position: relative; }
          .Api .contain3 .contain .contain1 .div1 img {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            margin: auto;
            display: block;
            text-align: center; }
        .Api .contain3 .contain .contain1 .div2 {
          margin: 10px 0 5px;
          text-align: center;
          color: #464646;
          font-size: 18px; }
        .Api .contain3 .contain .contain1 .div3 {
          margin-bottom: 20px;
          text-align: center;
          color: #999999;
          font-size: 14px; }
        .Api .contain3 .contain .contain1 .div4 {
          margin: 0 auto;
          width: 96px;
          height: 27px;
          line-height: 27px;
          text-align: center;
          color: #ff7300;
          border: 1px solid #ff7300;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer; }

#detail {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px; }
  #detail .detail_contain1 {
    width: 100%;
    padding: 40px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px; }
    #detail .detail_contain1 .API_zuo {
      width: 224px;
      height: 200px;
      float: left;
      background: #fff;
      position: relative;
      border: 1px solid #ccc;
      border-radius: 4px; }
      #detail .detail_contain1 .API_zuo .contain {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        #detail .detail_contain1 .API_zuo .contain .div1 {
          width: 100px;
          height: 100px;
          margin: 0 auto;
          position: relative; }
          #detail .detail_contain1 .API_zuo .contain .div1 img {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            margin: auto;
            display: block;
            text-align: center; }
        #detail .detail_contain1 .API_zuo .contain .div2 {
          margin: 20px 0 0px 0;
          text-align: center;
          color: #464646;
          font-size: 14px; }
    #detail .detail_contain1 .API_you {
      width: 564px;
      height: 203px;
      float: left;
      margin-left: 30px;
      position: relative; }
      #detail .detail_contain1 .API_you .you1 {
        color: #464646;
        font-size: 20px; }
      #detail .detail_contain1 .API_you .you2 {
        color: #666;
        font-size: 14px;
        margin-top: 20px; }
      #detail .detail_contain1 .API_you .you4 {
        margin-top: 5px;
        padding: 10px;
        color: #464646;
        font-size: 14px;
        background: #e2f2ff; }
        #detail .detail_contain1 .API_you .you4 p {
          margin: 0; }
          #detail .detail_contain1 .API_you .you4 p span {
            color: #1085e4; }
      #detail .detail_contain1 .API_you .you3 {
        position: absolute;
        left: 0;
        bottom: 0; }
        #detail .detail_contain1 .API_you .you3 span {
          display: inline-block;
          width: 140px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          text-align: center;
          margin-right: 20px;
          border: 1px solid #ff7300;
          border-radius: 5px;
          cursor: pointer; }
        #detail .detail_contain1 .API_you .you3 .span1 {
          color: #ff7300; }
        #detail .detail_contain1 .API_you .you3 .span2 {
          color: #fff;
          background: #ff7300; }
  #detail .detail_contain2 {
    background: #fff; }
    #detail .detail_contain2 .APIdetail2_title {
      height: 50px;
      border-bottom: 1px solid #bbbbbb; }
      #detail .detail_contain2 .APIdetail2_title .categoryActive {
        border-bottom: 2px solid #1085e4; }
      #detail .detail_contain2 .APIdetail2_title .sele {
        width: 158px;
        height: 50px;
        font-size: 14px;
        color: #5b5b5b;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        cursor: pointer; }
        #detail .detail_contain2 .APIdetail2_title .sele:hover {
          border-bottom: 2px solid #1085e4; }

.buyRecord {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px; }
  .buyRecord .APItitle {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b; }
  .buyRecord .contain1, .buyRecord .contain2 {
    font-size: 16px;
    color: #464646;
    margin-bottom: 20px; }
    .buyRecord .contain1 span, .buyRecord .contain2 span {
      display: inline-block;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-left: 20px;
      cursor: pointer; }
    .buyRecord .contain1 span.spanblue, .buyRecord .contain2 span.spanblue {
      background: #1085e4;
      color: #fff; }
  .buyRecord .buyRecord_order {
    width: 100%;
    position: relative;
    min-height: 300px; }
    .buyRecord .buyRecord_order .buyRecord_list1 {
      width: 25%;
      min-width: 150px;
      border-right: 1px solid #f5f3f3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .buyRecord .buyRecord_order .buyRecord_list2 {
      width: 15%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3; }
    .buyRecord .buyRecord_order .buyRecord_list3 {
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3; }
    .buyRecord .buyRecord_order .buyRecord_list4 {
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3; }
    .buyRecord .buyRecord_order .buyRecord_list5 {
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3; }
    .buyRecord .buyRecord_order .buyRecord_list6 {
      width: 20%;
      min-width: 100px;
      border-right: 1px solid #f5f3f3; }
    .buyRecord .buyRecord_order .buyRecord_list7 {
      width: 10%;
      min-width: 50px;
      color: #009900; }
    .buyRecord .buyRecord_order .buyRecord_list8 {
      width: 10%;
      min-width: 50px;
      color: #FF3300; }
    .buyRecord .buyRecord_order .buyRecord_title {
      background: #fafafa;
      overflow: hidden;
      clear: both; }
      .buyRecord .buyRecord_order .buyRecord_title li {
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
        font-size: 14px;
        color: #464646; }
    .buyRecord .buyRecord_order .buyRecord_list {
      overflow: hidden;
      clear: both; }
      .buyRecord .buyRecord_order .buyRecord_list li {
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
        font-size: 14px;
        color: #464646; }
    .buyRecord .buyRecord_order .order_listeven {
      background: #fcfdff; }
    .buyRecord .buyRecord_order .order_listodd {
      background: #ffffff; }
  .buyRecord .page_foo {
    margin: 20px auto;
    overflow: hidden;
    width: 450px; }

.Account {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px; }
  .Account .Accounttitle {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b; }
  .Account .contain {
    padding: 20px 40px 0 10px; }
    .Account .contain .con1 {
      width: 20%;
      height: 50px;
      line-height: 50px;
      float: left; }
    .Account .contain .con2 {
      width: 60%;
      height: 50px;
      line-height: 50px;
      float: left;
      text-align: center; }
    .Account .contain .con3 {
      width: 20%;
      height: 50px;
      line-height: 50px;
      float: right;
      text-align: center;
      color: #169BD5;
      cursor: pointer; }
    .Account .contain .contain1 {
      background: #fff;
      height: 50px;
      padding-left: 20px;
      color: #464646;
      font-size: 14px;
      border-radius: 5px;
      margin-bottom: 10px; }
    .Account .contain .contain2 {
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px; }
      .Account .contain .contain2 .APIKEY1 {
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px; }
      .Account .contain .contain2 .APIKEY2 {
        display: none;
        padding-left: 20px;
        padding-bottom: 20px;
        background: #fff; }
        .Account .contain .contain2 .APIKEY2 .co1 {
          height: 50px; }
        .Account .contain .contain2 .APIKEY2 .co2 {
          padding-left: 100px; }
          .Account .contain .contain2 .APIKEY2 .co2 .c1 span {
            margin-right: 10px;
            display: inline-block;
            width: 100px; }
          .Account .contain .contain2 .APIKEY2 .co2 .c1 input {
            padding-left: 10px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            height: 30px; }
            .Account .contain .contain2 .APIKEY2 .co2 .c1 input:focus {
              border: 1px solid #28b0f8; }
          .Account .contain .contain2 .APIKEY2 .co2 .c2 {
            margin: 20px 0; }
            .Account .contain .contain2 .APIKEY2 .co2 .c2 span.span1 {
              margin-right: 10px;
              display: inline-block;
              width: 100px; }
            .Account .contain .contain2 .APIKEY2 .co2 .c2 input {
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              width: 100px; }
              .Account .contain .contain2 .APIKEY2 .co2 .c2 input:focus {
                border: 1px solid #28b0f8; }
            .Account .contain .contain2 .APIKEY2 .co2 .c2 span.span2 {
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              margin-left: 20px;
              background: #169bd5;
              border-radius: 5px;
              cursor: pointer; }
          .Account .contain .contain2 .APIKEY2 .co2 .c3 {
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: #169bd5;
            border-radius: 5px;
            cursor: pointer; }
    .Account .contain .contain3 {
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px; }
      .Account .contain .contain3 .PHONE1 {
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px; }
      .Account .contain .contain3 .PHONE2 {
        display: none;
        padding-left: 20px;
        padding-bottom: 20px;
        background: #fff;
        border-radius: 5px; }
        .Account .contain .contain3 .PHONE2 .co1 {
          height: 50px; }
        .Account .contain .contain3 .PHONE2 .co2 {
          padding-left: 100px; }
          .Account .contain .contain3 .PHONE2 .co2 .c1 span {
            margin-right: 10px;
            display: inline-block;
            width: 100px; }
          .Account .contain .contain3 .PHONE2 .co2 .c1 input {
            padding-left: 10px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            height: 30px; }
            .Account .contain .contain3 .PHONE2 .co2 .c1 input:focus {
              border: 1px solid #28b0f8; }
          .Account .contain .contain3 .PHONE2 .co2 .a {
            margin-top: 20px; }
          .Account .contain .contain3 .PHONE2 .co2 .c2 {
            margin: 20px 0; }
            .Account .contain .contain3 .PHONE2 .co2 .c2 span.span1 {
              margin-right: 10px;
              display: inline-block;
              width: 100px; }
            .Account .contain .contain3 .PHONE2 .co2 .c2 input {
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              width: 100px; }
              .Account .contain .contain3 .PHONE2 .co2 .c2 input:focus {
                border: 1px solid #28b0f8; }
            .Account .contain .contain3 .PHONE2 .co2 .c2 span.span2 {
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              margin-left: 20px;
              background: #169bd5;
              border-radius: 5px;
              cursor: pointer; }
          .Account .contain .contain3 .PHONE2 .co2 .c3 {
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: #169bd5;
            border-radius: 5px;
            margin-bottom: 20px;
            cursor: pointer; }
    .Account .contain .contain4 {
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px; }
      .Account .contain .contain4 .EMAIL1 {
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px; }
      .Account .contain .contain4 .EMAIL2 {
        display: none;
        padding-left: 20px;
        padding-bottom: 20px;
        background: #fff; }
        .Account .contain .contain4 .EMAIL2 .co1 {
          height: 50px; }
        .Account .contain .contain4 .EMAIL2 .co2 {
          padding-left: 100px; }
          .Account .contain .contain4 .EMAIL2 .co2 .c1 span {
            margin-right: 10px;
            display: inline-block;
            width: 100px; }
          .Account .contain .contain4 .EMAIL2 .co2 .c1 input {
            padding-left: 10px;
            border: 1px solid #dfdfdf;
            border-radius: 4px;
            height: 30px; }
            .Account .contain .contain4 .EMAIL2 .co2 .c1 input:focus {
              border: 1px solid #28b0f8; }
          .Account .contain .contain4 .EMAIL2 .co2 .c2 {
            margin: 20px 0; }
            .Account .contain .contain4 .EMAIL2 .co2 .c2 span.span1 {
              margin-right: 10px;
              display: inline-block;
              width: 100px; }
            .Account .contain .contain4 .EMAIL2 .co2 .c2 input {
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px; }
              .Account .contain .contain4 .EMAIL2 .co2 .c2 input:focus {
                border: 1px solid #28b0f8; }
          .Account .contain .contain4 .EMAIL2 .co2 .c3 {
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: #169bd5;
            border-radius: 5px;
            cursor: pointer; }

.Modify {
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px; }
  .Modify .Modifytitle {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b; }
  .Modify .contain {
    height: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px; }
    .Modify .contain label span {
      width: 20px;
      height: 20px;
      background: red;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      border-radius: 50%;
      color: #fff;
      margin-right: 10px; }

/*# sourceMappingURL=API.css.map */
