.Api{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .APItitle{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b;
  }
  .contain1{
    overflow: hidden;
    .con{
      float: left;
      width: 30%;
      min-width: 300px;
      margin-right: 5%;
      .con1{
        height: 190px;
        min-width: 300px;
        margin-bottom: 10px;
        position: relative;
        background: #fff;
        .co{
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          overflow: hidden;
          width: 250px;
          .co1{
            width: 81px;
            height: 81px;
            background: url("../img/API.png") no-repeat center;
            float: left;
          }
          .co2{
            float: left;
            min-width: 100px;
            margin-left: 20px;
            .c1{
              height: 40px;
              font-size: 14px;
              color: #5b5b5b;
              margin-bottom: 15px;
              span{
                font-size: 30px;
                color: #28a9bb;
              }
            }
            .c2{
              font-size: 14px;
              color: #464646;
            }
          }
        }
      }
      .con2{
        .co{
          .co1{
            background: url("../img/API2.png") no-repeat center;
          }
          .co2{
            .c1{
              span{
                color: #f79769;
              }
            }
          }
        }
      }
    }
    .tubiao{
      float: left;
      width: 65%;
      min-width: 600px;
      height: 390px;
      background: #fff;
      padding:0 20px;
      .title{
        height: 40px;
        line-height: 40px;
        color: #464646;
        font-size: 18px;
      }
      #echarts_zhe{
        width: 100%;
        height: 350px;
      }
    }
  }
  .contain2{
    .title{
      height: 40px;
      line-height: 40px;
      color: #5b5b5b;
      font-size: 20px;
    }
    .contain{
      overflow: hidden;
      .con{
        width: 395px;
        height: 369px;
        background: #fff;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        .shiyong{
          position: absolute;
          right: 0;
          top:0;
          width: 70px;
          height: 70px;
          background: url("../img/shiyong.png") no-repeat center;
        }
        .c1{
          height: 50px;
          line-height: 50px;
          color: #464646;
          font-size: 18px;
          text-align: center;
        }
        .c2,.c3{
          color: #999;
          font-size: 14px;
          text-align: center;
        }
        .c4{
          .echarts_zhe1{
            width: 100%;
            height:280px;
          }
        }
      }
      .con2{
        width: 395px;
        height: 369px;
        background: #fff;
        float: left;
        position: relative;
        .a{
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -webkit-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          cursor: pointer;
          .a1{
            width: 102px;
            height: 102px;
            background: url("../img/APIjia.png") no-repeat center;
          }
          .a2{
            width: 102px;
            height: 40px;
            line-height: 40px;
            color: #464646;
            font-size: 18px;
          }
        }
      }
    }
  }
  .contain3{
    overflow: hidden;
    .title{
      height: 40px;
      line-height: 40px;
      color: #5b5b5b;
      font-size: 20px;
    }
    .zeromargin{
      margin-right: 0!important;
    }
    .contain{
      width:395px;
      height: 369px;
      position: relative;
      background: #fff;
      float: left;
      margin: 0px 20px 20px 0;
      .contain1{
        position: absolute;
        top:50%;
        width: 100%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        .div1{
          width: 106px;
          height: 106px;
          margin: 0 auto;
          position: relative;
          img{
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top:0px;
            margin: auto;
            display: block;
            text-align: center;
          }
        }
        .div2{
          margin: 10px 0 5px;
          text-align: center;
          color: #464646;
          font-size: 18px;
        }
        .div3{
          margin-bottom: 20px;
          text-align: center;
          color: #999999;
          font-size: 14px;
        }
        .div4{
          margin: 0 auto;
          width: 96px;
          height: 27px;
          line-height: 27px;
          text-align: center;
          color: #ff7300;
          border: 1px solid #ff7300;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
#detail{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .detail_contain1{
    width: 100%;
    padding: 40px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    .API_zuo{
      width: 224px;
      height: 200px;
      float: left;
      background: #fff;
      position: relative;
      border: 1px solid #ccc;
      border-radius: 4px;
      .contain{
        position: absolute;
        top:50%;
        width: 100%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        .div1{
          width: 100px;
          height: 100px;
          margin: 0 auto;
          position: relative;
          img{
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top:0px;
            margin: auto;
            display: block;
            text-align: center;
          }
        }
        .div2{
          margin: 20px 0 0px 0;
          text-align: center;
          color: #464646;
          font-size: 14px;
        }
      }
    }
    .API_you{
      width: 564px;
      height:203px;
      float: left;
      margin-left: 30px;
      position: relative;
      .you1{
        color: #464646;
        font-size: 20px;
      }
      .you2{
        color: #666;
        font-size: 14px;
        margin-top: 20px;
      }
      .you4{
        margin-top: 5px;
        padding: 10px;
        color: #464646;
        font-size: 14px;
        background: #e2f2ff;
        p{
          margin: 0;
          span{
            color: #1085e4;
          }
        }
      }
      .you3{
        position: absolute;
        left: 0;
        bottom: 0;
        span{
          display: inline-block;
          width: 140px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          text-align: center;
          margin-right: 20px;
          border: 1px solid #ff7300;
          border-radius: 5px;
          cursor: pointer;
        }
        .span1{
          color: #ff7300;
        }
        .span2{
          color: #fff;
          background: #ff7300;
        }
      }
    }
  }
  .detail_contain2{
    background: #fff;
    .APIdetail2_title{
      height: 50px;
      border-bottom: 1px solid #bbbbbb;
      .categoryActive{
        border-bottom: 2px solid #1085e4;
      }
      .sele{
        width: 158px;
        height: 50px;
        font-size: 14px;
        color: #5b5b5b;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        &:hover{
          border-bottom: 2px solid #1085e4;
        }
      }
    }
  }
}
.buyRecord{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .APItitle{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b;
  }
  .contain1,.contain2{
    font-size: 16px;
    color: #464646;
    margin-bottom: 20px;
    span{
      display: inline-block;
      width: 80px;
      height: 30px;
      line-height:30px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin-left: 20px;
      cursor: pointer;
    }
    span.spanblue{
      background: #1085e4;
      color: #fff;
    }
  }
  .buyRecord_order{
    width: 100%;
    position: relative;
    min-height: 300px;
    .buyRecord_list1{
      width: 25%;
      min-width: 150px;
      border-right: 1px solid #f5f3f3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .buyRecord_list2{
      width: 15%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3;
    }
    .buyRecord_list3{
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3;
    }
    .buyRecord_list4{
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3;
    }
    .buyRecord_list5{
      width: 10%;
      min-width: 50px;
      border-right: 1px solid #f5f3f3;
    }
    .buyRecord_list6{
      width: 20%;
      min-width: 100px;
      border-right: 1px solid #f5f3f3;
    }
    .buyRecord_list7{
      width: 10%;
      min-width: 50px;
      color: #009900;
    }
    .buyRecord_list8{
      width: 10%;
      min-width: 50px;
      color: #FF3300;
    }
    .buyRecord_title{
      background: #fafafa;
      overflow: hidden;
      clear: both;
      li{
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
        font-size: 14px;
        color: #464646;
      }
    }
    .buyRecord_list{
      overflow: hidden;
      clear: both;
      li{
        float: left;
        height: 39px;
        line-height: 39px;
        text-align: center;
        font-size: 14px;
        color: #464646;
      }
    }
    .order_listeven{
      background: #fcfdff;
    }
    .order_listodd{
      background: #ffffff;
    }
  }
  .page_foo{
    margin: 20px auto;
    overflow: hidden;
    width: 450px;
  }
}
.Account{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .Accounttitle{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b;
  }
  .contain{
    padding: 20px 40px 0 10px;
    .con1{
      width: 20%;
      height: 50px;
      line-height: 50px;
      float: left;
    }
    .con2{
      width: 60%;
      height: 50px;
      line-height: 50px;
      float: left;
      text-align: center;
    }
    .con3{
      width: 20%;
      height: 50px;
      line-height: 50px;
      float: right;
      text-align: center;
      color: #169BD5;
      cursor: pointer;
    }
    .contain1{
      background: #fff;
      height: 50px;
      padding-left: 20px;
      color: #464646;
      font-size: 14px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .contain2{
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px;
      .APIKEY1{
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
      .APIKEY2{
        display: none;
        height: 200px;
        padding-left: 20px;
        background: #fff;
        .co1{
          height: 50px;
        }
        .co2{
          padding-left: 100px;
          .c1{
            span{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
          }
          .c2{
            margin: 20px 0;
            span.span1{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              width: 100px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
            span.span2{
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              margin-left: 20px;
              background: rgba(22, 155, 213, 1);
              border-radius: 5px;
            }
          }
          .c3{
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: rgba(22, 155, 213, 1);
            border-radius: 5px;
          }
        }
      }
    }
    .contain3{
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px;
      .PHONE1{
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
      .PHONE2{
        display: none;
        height: 300px;
        padding-left: 20px;
        background: #fff;
        border-radius: 5px;
        .co1{
          height: 50px;
        }
        .co2{
          padding-left: 100px;
          .c1{
            span{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
          }
          .a{
            margin-top: 20px;
          }
          .c2{
            margin: 20px 0;
            span.span1{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              width: 100px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
            span.span2{
              display: inline-block;
              width: 100px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              color: #fff;
              margin-left: 20px;
              background: rgba(22, 155, 213, 1);
              border-radius: 5px;
            }
          }
          .c3{
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: rgba(22, 155, 213, 1);
            border-radius: 5px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .contain4{
      color: #464646;
      font-size: 14px;
      margin-bottom: 10px;
      .EMAIL1{
        padding-left: 20px;
        background: #fff;
        height: 50px;
        margin-bottom: 5px;
        border-radius: 5px;
      }
      .EMAIL2{
        display: none;
        height: 200px;
        padding-left: 20px;
        background: #fff;
        .co1{
          height: 50px;
        }
        .co2{
          padding-left: 100px;
          .c1{
            span{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
          }
          .c2{
            margin: 20px 0;
            span.span1{
              margin-right: 10px;
              display: inline-block;
              width: 100px;
            }
            input{
              padding-left: 10px;
              border: 1px solid #dfdfdf;
              border-radius: 4px;
              height: 30px;
              &:focus{
                border: 1px solid #28b0f8;
              }
            }
          }
          .c3{
            width: 100px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            margin-left: 115px;
            background: rgba(22, 155, 213, 1);
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.Modify{
  width: calc(100% - 200px);
  width: -moz-calc(100% - 200px);
  width:-webkit-calc(100% - 200px);
  min-height: 1085px;
  float: left;
  background: #e2e5ec;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 70px;
  .Modifytitle{
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #5b5b5b;
  }
  .contain{
    height: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    label{
      span{
        width: 20px;
        height:20px;
        background: red;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
      }
    }
  }
}