<div id="aboutus">
    <div class="about">
        <div class="about1"></div>
        <div class="about2">
            <p>鲸鱼智能是数据智能的“水电煤”。</p>
            <p>DT时代下，客户对于数据智能的需求愈发强烈，作为一家领先的数据智能公司，我们基于大数据引擎，通过大规模机器学习和深度学习等技术，对海量数据进行处理、分析和挖掘，提取数据中所包含的有价值的信息和知识，使数据具有“智能”，并通过建立模型寻求现有问题的解决方案。</p>
            <p>我们聚焦在金融、教育、电商、内容、品牌等行业，拥有覆盖全网几乎任何网站的定制化爬虫、爬虫云以及独有的销售线索引擎产品，提供大数据平台的基础设施搭建，致力于让你拥有独家的大数据能力。</p>
            <p>鲸鱼智能将成为数据智能的水电煤，为企业提供数据智能所需的一切基础设施和服务，不断挖掘大数据背后的价值，生产更多的数据智能产品。</p>
        </div>
    </div>
</div>