<div id="detail">
    <div class="detail_contain1">
        <div class="API_zuo">
            <div class="contain">
                <div class="div1">
                    <lazy-src image-src="{{picurl}}"></lazy-src>
                </div>
                <div class="div2">征信类</div>
            </div>
        </div>
        <div class="API_you">
            <div class="you1">车辆违章信息</div>
            <div class="you2">提供全国300多个城市区域的机动车交通违章查询服务,驾驶证违章查询,全国各地车辆的本地异地违章查询,汽车违章查询,摩托车违章查询等。</div>
            <div class="you4">
                <p>申请时间 : 2017-03-28</p>
                <p>已调用 <span>0</span>次 总计 <span>100</span>次 剩余 <span>100</span>次</p>
            </div>
            <div class="you3">
                <span class="span2" data-toggle="modal" data-target="#myModalAPIBuy">续费</span>
            </div>
        </div>
    </div>
    <div class="detail_contain2">
        <div class="APIdetail2_title">
            <div class="sele" ng-repeat="a in DataCategory track by $index" ng-click="selectCategory(a)" ng-class="{'categoryActive':current === a}">{{a}}</div>
        </div>
        <detail-api></detail-api>
    </div>
</div>
