<div id="main1"><div></div></div>
<div id="main2">
    <div class="m1"></div>
    <div class="m2 m" ui-sref="index.whalehome">
        <div class="con">
            <div class="d1">鲸鱼爬虫</div>
            <div class="d2">一站式的爬虫和大数据定制服务</div>
        </div>
    </div>
    <div class="m3 m" ui-sref="index.whaleAPI">
        <div class="con">
            <div class="d1">鲸鱼API</div>
            <div class="d2">专业数据能力开放平台</div>
        </div>
    </div>
    <div class="m4 m">
        <div class="con">
            <div class="d1">鲸鱼智能云爬虫</div>
            <div class="d2">无门槛的智能爬虫开发工具</div>
        </div>
    </div>
    <div class="m5 m1"></div>
</div>