.order1{
  width: 100%;
  position: relative;
  color: #666;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  .order_list1{
    width: 33.3%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .order_list2{
    width: 33.3%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .order_list3{
    width: 33.3%;
    border-bottom: 1px solid #e3e3e3;
  }
  .order_title{
    background: #f5f5f5;
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
  }
  .order_list{
    overflow: hidden;
    clear: both;
    &:hover{
      background: #f5f5f5;
    }
    li{
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 12px;
      color: #666;
      &.order_list3{
        font-weight: bolder;
        color: red;
        font-size: 14px;
      }
    }
  }
  .order_listeven{
    background: #fcfdff;
  }
  .order_listodd{
    background: #ffffff;
  }
}
.order2{
  width: 100%;
  position: relative;
  color: #666;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  .order_list1{
    width: 25%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .order_list2{
    width: 25%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .order_list3{
    width: 25%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .order_list4{
    width: 25%;
    border-bottom: 1px solid #e3e3e3;
  }
  .order_title{
    background: #f5f5f5;
    overflow: hidden;
    clear: both;
    li{
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color: #333;
      font-weight: bold;
    }
  }
  .order_list{
    overflow: hidden;
    clear: both;
    &:hover{
      background: #f5f5f5;
    }
    li{
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 12px;
      color: #666;
      &.order_list3{
        font-weight: bolder;
        color: red;
        font-size: 14px;
      }
      &.order_list4{
        color: #1b8a1b;
        font-size: 12px;
      }
    }
  }
  .order_listeven{
    background: #fcfdff;
  }
  .order_listodd{
    background: #ffffff;
  }
}
.MONEY{
  .moneyTime{
    height:50px;
    background: #f5f5f5;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
    .time1{
      padding: 10px 10px;
      position: relative;
      float: left;
      margin-right: 10px;
      .span1{
        position: absolute;
        display: block;
        width: 60px;
        line-height: 28px;
        height: 28px;
        top: 11px;
        left: 11px;
        text-align: center;
        background: #f5f5f5;
        border-right: 1px solid #b3b3b3;
        border-bottom-left-radius:4px;
        border-top-left-radius: 4px;
        span{
          margin-right: 3px;
        }
      }
      input{
        width: 220px;
        height: 30px;
        padding-left: 75px;
        font-size: 12px;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        cursor: pointer;
        &:focus{
          border: 1px solid #28b0f8;
        }
      }
    }
    .search{
      width: 90px;
      line-height: 30px;
      height: 30px;
      background: #1179f6;
      color: #fff;
      text-align: center;
      border-radius: 4px;
      float: left;
      margin-top: 10px;
      cursor: pointer;
      span{
        margin-right: 5px;
      }
      &:hover{
        color: #1e15dc;
      }
    }
  }
}
.Account{
  .accountAdmin{
    height:50px;
    background: #f5f5f5;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px 10px;
    .name1{
      float: right;
      height: 30px;
      line-height: 30px;
      color: #666;
      margin-right: 20px;
    }
    .name2{
      float: right;
      width: 80px;
      height: 30px;
      line-height: 30px;
      background:#1179f6;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      &:hover{
        color: #1e15dc;
      }
    }
  }
  .accountName{
    height:50px;
    background: #f5f5f5;
    border-radius: 5px;
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 10px 10px;
    .name1{
      position: relative;
      float: left;
      margin-right: 10px;
      span{
        position: absolute;
        top: 8px;
        left: 15px;
        color: #666;
        font-size: 14px;
      }
      input{
        width: 220px;
        height: 30px;
        padding-left: 45px;
        font-size: 12px;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        &:focus{
          border: 1px solid #28b0f8;
        }
      }
    }
    .name2{
      float: left;
      width: 80px;
      height: 30px;
      line-height: 30px;
      background:#1179f6;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      &:hover{
        color: #1e15dc;
      }
    }
    .add{
      float: right;
      width: 90px;
      height: 30px;
      line-height: 30px;
      background:#1179f6;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      span{
        margin-right: 5px;
      }
      &:hover{
        color: #1e15dc;
      }
    }
  }
}
