.API_contain{
  width: 100%;
  padding: 20px 0 0 20px;
  .API_contain_header{
    padding: 0px 0 10px 0px;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    margin-bottom: 30px;
    .header1{
      font-size: 18px;
      color: #333;
      font-weight: 700;
    }
    .header2{
      font-size: 14px;
      color: #666;
    }
  }
  .API_contain_xinxi{
    overflow: hidden;
    .xinxi_zuo{
      float: left;
      min-width: 257px;
      width: 20%;
      .xin1{
        width: 100%;
        padding-left: 10px;
        height: 42px;
        line-height: 42px;
        color: #333;
        font-size: 14px;
        border: 1px solid rgba(221, 221, 221, 1);
        border-bottom: 0;
        background: rgba(255, 255, 255, 1);
        button{
          width: 50px;
          font-size: 12px;
          height: 25px;
          line-height: 25px;
          padding: 0;
        }
      }
      .contain_contain{
        border-top: 1px solid #b7b7b7;
        margin-bottom: 10px;
        .co{
          height: 40px;
          line-height: 40px;
          color: #464646;
          font-size: 14px;
        }
        .con4{
          position: relative;
          img{
            position: absolute;
            right: 2px;
            top: 10px;
            width: 30px;
            height:25px;
          }
        }
        .con5{
          text-align: right;
          margin-top: 10px;
          button{
            width: 50px;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            padding: 0;
          }
        }
      }
      .last{
        border-bottom: 1px solid rgba(221, 221, 221, 1);
      }
      .caozuo{
        border-top: none;
        margin-top: 30px;
      }
    }
    .xinxi_you{
      float: left;
      min-width: 500px;
      height: 300px;
      margin-left: 100px;
      width: 50%;
      border: 1px solid rgba(221, 221, 221, 1);
      border-radius: 5px;
      #echarts_zhe{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.Service{
  width: 100%;
  padding: 20px 0 0 20px;
  .contain{
    overflow: hidden;
    .contain1{
      width: 20%;
      min-width: 240px;
      float: left;
      padding: 10px;
      background: #F3F3F3;
      margin-right: 10px;
      margin-bottom: 40px;
      .co{
        height: 40px;
        line-height: 40px;
        color: #464646;
        font-size: 14px;
      }
      .con2{
        margin-bottom: 20px;
      }
      .contain_contain{
        border-top: 1px solid #b7b7b7;
        margin-bottom: 10px;
        .con4{
          position: relative;
          img{
            position: absolute;
            right: 2px;
            top: 10px;
            width: 30px;
            height:25px;
          }
        }
        .con5{
          text-align: right;
          margin-top: 10px;
          button{
            width: 50px;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            padding: 0;
          }
        }
      }

    }
  }
}
.retrieval{
  width: 100%;
  padding: 20px 0 0 20px;
  .contain1{
    margin-bottom: 20px;
    select{
      width: 200px;
      height:35px;
    }
    .select1{
      margin-right: 30px;
    }
  }
  .contain2{
    height:35px;
    overflow: hidden;
    span{
      display: block;
      height: 35px;
      line-height:35px;
      float: left;
    }
    input{
      width: 200px;
      height: 35px;
      float: left;
      padding-left: 10px;
      font-size: 14px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      &:focus{
        border: 1px solid #28b0f8;
      }
    }
    #starttime{
      margin: 0 20px;
    }
    #endtime{
      margin-left: 20px;
    }
  }
  .contain3{
    margin-top: 20px;
    height:35px;
    overflow: hidden;
    span{
      display: block;
      height: 35px;
      line-height:35px;
      float: left;
    }
    input{
      width: 200px;
      height: 35px;
      float: left;
      padding-left: 10px;
      font-size: 14px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      margin: 0 25px;
      &:focus{
        border: 1px solid #28b0f8;
      }
    }
    select{
      width: 200px;
      height:35px;
      float: left;
      margin-left: 20px;
    }
  }
  .contain4{
    margin-top: 10px;
    margin-bottom: 10px;
    button{
      width: 64px;
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
  }
  .contain5{
    height: 50px;
    line-height: 50px;
  }
  .contain6{
  }
}
#Top{
  width: 56px;
  height: 48px;
  background-image: url(../img/share.png);
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-position: 0 -104px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  text-indent: -99999px;
  &:hover {
    background-position:-56px -104px;
  }
}