#indexhome {
  width: 100%;
  min-height: 1080px;
  overflow: hidden;
  background: url("../img/indexbg.png") no-repeat center;
  background-size: cover;
  padding: 20px 20px 0 20px; }
  #indexhome .home_red {
    color: #fe0000 !important; }
  #indexhome .home {
    float: left;
    margin-right: 30px; }
    #indexhome .home .title {
      height: 60px;
      line-height: 60px;
      font-size: 20px;
      color: #fff; }
    #indexhome .home .contain {
      padding: 15px 10px 0 10px; }
      #indexhome .home .contain .home11 {
        text-align: center;
        font-size: 12px;
        color: #95e2ff;
        height: 50px;
        line-height: 50px; }
        #indexhome .home .contain .home11 p {
          min-width: 80px;
          width: 60%;
          height: 50px;
          float: left;
          line-height: 50px;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 0; }
        #indexhome .home .contain .home11 div {
          min-width: 30px;
          width: 22%;
          text-align: center;
          display: block;
          float: left;
          font-size: 16px;
          color: #95e2ff; }
  #indexhome .home1 {
    min-width: 132px;
    width: 6.8%;
    position: relative; }
    #indexhome .home1 .contain {
      height: 961px;
      overflow-y: auto;
      overflow-x: hidden;
      background: url("../img/whale1.png") repeat-x center; }
      #indexhome .home1 .contain .home1_contain {
        height: 50px;
        border-radius: 5px;
        background: #123d52;
        margin-bottom: 10px;
        cursor: pointer; }
  #indexhome .home2 {
    min-width: 500px;
    width: 30%;
    position: relative; }
    #indexhome .home2 .contain {
      height: 961px;
      overflow-y: auto;
      overflow-x: hidden;
      background: url("../img/whale2.png") repeat-x center; }
      #indexhome .home2 .contain .home2_contain {
        border-radius: 5px;
        background: #123d52;
        font-size: 12px;
        color: #95e2ff;
        margin-bottom: 10px;
        cursor: pointer; }
        #indexhome .home2 .contain .home2_contain .home21 {
          height: 35px;
          line-height: 35px;
          text-align: center;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        #indexhome .home2 .contain .home2_contain .home211 {
          text-align: right; }
          #indexhome .home2 .contain .home2_contain .home211 span.span1 {
            display: inline-block;
            width: 30%;
            height: 25px;
            line-height: 25px;
            text-align: center; }
          #indexhome .home2 .contain .home2_contain .home211 span.span2 {
            display: inline-block;
            width: 60px;
            height: 25px;
            line-height: 25px;
            text-align: center; }
        #indexhome .home2 .contain .home2_contain .home22 {
          overflow: hidden;
          padding: 0px 0px 0 10px;
          width: 100%; }
          #indexhome .home2 .contain .home2_contain .home22 .home221 {
            min-width: 100px;
            width: 30%;
            float: left;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          #indexhome .home2 .contain .home2_contain .home22 .home222 {
            min-width: 30px;
            width: 10%;
            float: left;
            font-size: 16px;
            text-align: center; }
          #indexhome .home2 .contain .home2_contain .home22 .home223 {
            min-width: 30px;
            margin-left: 15px;
            float: left;
            text-align: center;
            font-size: 12px;
            color: #95e2ff; }
          #indexhome .home2 .contain .home2_contain .home22 .home224 {
            min-width: 30px;
            margin-left: 15px;
            float: left;
            font-size: 12px;
            color: #95e2ff; }
          #indexhome .home2 .contain .home2_contain .home22 .home225 {
            min-width: 30px;
            width: 33%;
            float: left;
            text-align: right;
            font-size: 12px;
            color: #95e2ff; }
  #indexhome .home3 {
    min-width: 132px;
    width: 6.8%;
    position: relative; }
    #indexhome .home3 .contain {
      height: 961px;
      overflow-y: auto;
      overflow-x: hidden;
      background: url("../img/whale3.png") repeat-x center; }
      #indexhome .home3 .contain .home1_contain {
        height: 50px;
        border-radius: 5px;
        background: #123d52;
        margin-bottom: 10px;
        cursor: pointer; }
  #indexhome .home4 {
    min-width: 425px;
    width: 22%;
    position: relative; }
    #indexhome .home4 .contain {
      padding: 0px 15px 0 15px;
      height: 961px;
      background: url("../img/whale3.png") repeat-x center; }
      #indexhome .home4 .contain .contain_title {
        font-size: 12px;
        color: #fff;
        overflow: hidden; }
        #indexhome .home4 .contain .contain_title .contain1 {
          width: 100px;
          height: 55px;
          line-height: 55px;
          float: left; }
        #indexhome .home4 .contain .contain_title .contain2 {
          width: 120px;
          height: 55px;
          line-height: 55px;
          float: left; }
      #indexhome .home4 .contain .contain_error {
        font-size: 12px;
        color: #95e2ff;
        overflow: hidden;
        margin-bottom: 10px; }
        #indexhome .home4 .contain .contain_error .contain_error_zuo {
          width: 80px;
          float: left; }
          #indexhome .home4 .contain .contain_error .contain_error_zuo .error1 {
            margin-bottom: 5px; }
          #indexhome .home4 .contain .contain_error .contain_error_zuo .error2 {
            font-size: 18px;
            color: #f84242; }
        #indexhome .home4 .contain .contain_error .contain_error_you {
          width: 290px;
          float: right; }
          #indexhome .home4 .contain .contain_error .contain_error_you li {
            padding-left: 20px;
            background: url("../img/error_index.png") no-repeat left center; }
  #indexhome .home5 {
    min-width: 585px;
    width: 30%;
    position: relative; }
    #indexhome .home5 .contain {
      padding: 0px 15px 0 15px;
      height: 961px;
      background: url("../img/whale3.png") repeat-x center; }
      #indexhome .home5 .contain .contain_title {
        font-size: 12px;
        color: #fff;
        overflow: hidden; }
        #indexhome .home5 .contain .contain_title .contain1 {
          width: 80px;
          height: 55px;
          line-height: 55px;
          float: left; }
        #indexhome .home5 .contain .contain_title .contain2 {
          width: 50px;
          height: 55px;
          line-height: 55px;
          float: left;
          text-align: right; }
        #indexhome .home5 .contain .contain_title .contain3 {
          width: 240px;
          height: 55px;
          padding-top: 10px;
          float: left;
          text-align: center; }
        #indexhome .home5 .contain .contain_title .contain4 {
          width: 160px;
          height: 55px;
          line-height: 55px;
          float: left;
          text-align: center; }
      #indexhome .home5 .contain .contain_error {
        font-size: 12px;
        color: #95e2ff;
        overflow: hidden;
        margin-bottom: 10px; }
        #indexhome .home5 .contain .contain_error .contain_error_zuo {
          width: 100px;
          float: left; }
          #indexhome .home5 .contain .contain_error .contain_error_zuo .error1 {
            margin-bottom: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
        #indexhome .home5 .contain .contain_error .contain_error_zho {
          width: 50px;
          float: left;
          padding-left: 5px; }
        #indexhome .home5 .contain .contain_error .contain_error_you {
          width: 200px;
          float: left; }
          #indexhome .home5 .contain .contain_error .contain_error_you .span1 {
            display: inline-block;
            width: 50%;
            text-align: center; }
            #indexhome .home5 .contain .contain_error .contain_error_you .span1 span {
              margin-left: 10px; }
          #indexhome .home5 .contain .contain_error .contain_error_you .span2 {
            display: inline-block;
            width: 25%;
            text-align: center; }
            #indexhome .home5 .contain .contain_error .contain_error_you .span2 span {
              margin-left: 10px; }
        #indexhome .home5 .contain .contain_error .contain_error_you1 {
          width: 160px;
          float: left; }
          #indexhome .home5 .contain .contain_error .contain_error_you1 .span1 {
            display: inline-block;
            width: 100%;
            text-align: center; }
            #indexhome .home5 .contain .contain_error .contain_error_you1 .span1 span {
              margin-left: 10px; }

.home6 {
  position: fixed;
  top: 30px;
  right: 250px;
  width: 150px;
  height: 45px;
  line-height: 45px;
  background: #29557b;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px; }

.home7 {
  right: 80px; }

.home8 {
  position: fixed;
  top: 100px;
  right: 260px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  background: #29557b;
  color: #fff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px; }

.home9 {
  right: 90px; }

/*# sourceMappingURL=indexhome.css.map */
