<div class="Account">
    <div class="accountAdmin">
        <div class="name2" ng-click="tokenAdmin()">退出</div>
        <div class="name1">欢迎&nbsp;&nbsp;{{accountAdmin}}&nbsp;!</div>
    </div>
    <div class="accountName">
        <div class="name1">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" ng-model="searchName" placeholder="请输入关键字">
        </div>
        <div class="name2" ng-click="Search()">查询</div>
        <div class="add" data-toggle="modal" data-target="#myModalTip" ng-click="Add()">
            <span class="glyphicon glyphicon-plus"></span>新增
        </div>
    </div>
    <div class="AccountContain">
        <order-list1></order-list1>
        <historytaskpage-middle></historytaskpage-middle>
    </div>
</div>
<div class="modal fade" id="myModalTip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog m150">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span style="font-size: 30px;" aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新增
                </h4>
            </div>
            <div class="modal-body" style="padding: 30px 40px;">
                <div class="container-fluid">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="data.apiName" class="form-control" placeholder="请输入爬虫需求">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="data.apiDesc" class="form-control" placeholder="请输入网址">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="data.money" class="form-control" placeholder="请输入悬赏金额">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="data.endDate" class="form-control" id="endDate" placeholder="请输入截止时间">
                            </div>
                        </div>
                        <div class="col-sm-12 alert alert-danger" style="margin-bottom: 0" ng-if="errorFlag">{{errorWen}}</div>
                        <div class="row">
                            <div class="col-md-12 mtop-btn">
                                <button class="btn btn-primary btn-block  btn-paddings"
                                        type="submit" id="button_home" style="background: #1179f6;color: #fff;" ng-click="submitAdd()">确认发布
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalModify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog m150">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span style="font-size: 30px;" aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改任务</h4>
            </div>
            <div class="modal-body" style="padding: 30px 40px;">
                <div class="container-fluid">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="Modify.apiName" class="form-control" placeholder="请输入爬虫需求">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="Modify.apiDesc" class="form-control" placeholder="请输入网址">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="Modify.money" class="form-control" placeholder="请输入悬赏金额">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" ng-model="Modify.endDate" class="form-control" id="ModifyendDate" placeholder="请输入截止时间">
                            </div>
                        </div>
                        <div class="col-sm-12 alert alert-danger" style="margin-bottom: 0" ng-if="errorFlag">{{errorWen}}</div>
                        <div class="row">
                            <div class="col-md-12 mtop-btn">
                                <button class="btn btn-primary btn-block  btn-paddings"
                                        type="submit" style="background: #1179f6;color: #fff;" ng-click="submitModify()">确认修改
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
