<div class="order" style="min-height: 300px;">
    <ul class="order_title">
        <li class="order_list1">网站</li>
        <li class="order_list2">截止时间</li>
        <li class="order_list3">金额</li>
        <li class="order_list4">操作</li>
    </ul>
    <ul class="order_list" ng-class="{order_listeven: !$even, order_listodd: !$odd}" ng-repeat="list in order">
        <li class="order_list1" title="{{list.apiDesc}}">{{list.apiDesc}}</li>
        <li class="order_list2" style="font-weight: normal;color: #666;font-size: 12px;">{{list.endDate | date:"yyyy-MM-dd HH:mm:ss"}}</li>
        <li class="order_list3" style="font-weight: bolder;color: red;font-size: 14px;">￥{{list.money}}</li>
        <li class="order_list4" style="color: #1179f6;line-height: 50px;text-align: center">
            <span style="margin-right: 8px;cursor: pointer;" ng-if="list.status==0||list.status==1||list.status==3" data-toggle="modal" data-target="#myModalModify" ng-click="modify(list)">修改</span>
            <span style="margin-right: 8px;cursor: pointer;" ng-click="select(list.id)">删除</span>
            <span style="cursor: pointer;" ng-if="list.status==0||list.status==1||list.status==3" ng-click="Finsh(list.id,2)">完成</span>
            <span style="cursor: pointer;" ng-if="list.status==2" ng-click="Finsh(list.id,3)">重新发送</span>
        </li>
    </ul>
    <div id="zero_order" ng-if="order.length==0">无数据</div>
    <api-loading repeat-finish1="renderFinish1()"></api-loading>
</div>