<div class="order" style="min-height: 300px;">
    <ul class="order_title">
        <li class="order_list1">姓名</li>
        <li class="order_list2">合计金额</li>
        <li class="order_list3">网站数</li>
        <li class="order_list4">操作</li>
    </ul>
    <ul class="order_list" ng-class="{order_listeven: !$even, order_listodd: !$odd}" ng-repeat="list in order">
        <li class="order_list1" title="{{list.name}}">{{list.name}}</li>
        <li class="order_list2">￥{{list.totalAmount}}</li>
        <li class="order_list3">{{list.webCount}}</li>
        <li class="order_list4" data-toggle="modal" data-target="#myModalTip" style="color: #1179f6;line-height: 50px;cursor: pointer" ng-click="viewDetails(list)">查看明细</li>
    </ul>
    <div id="zero_order" ng-if="order.length==0">无数据</div>
    <api-loading repeat-finish1="renderFinish1()"></api-loading>
</div>